---
import BaseLayout from "../../layouts/BaseLayout.astro";
---
<BaseLayout title={`Credits`}>
  <h1>Urheberrecht</h1>
  <p>Platzhalter – Hinweise zu Copyright, Marken, Bildmaterial, Code.</p>
</BaseLayout>
