---
import BaseLayout from "../../layouts/BaseLayout.astro";
---
<BaseLayout title={`Accessability`}>
  <h1>Barrierefreiheitserklärung</h1>
  <p>Platzhalter – wird später mit Erklärung, Feedback-Mechanismus etc. ergänzt.</p>
</BaseLayout>
