---
import BaseLayout from "../../layouts/BaseLayout.astro";
import "../../styles/imprint.css";

const title = "Impressum | SlotBotBuddy";
const description = "Impressum der Slot Bot Labs GmbH.";
---

<BaseLayout title={title} description={description}>
  <article class="cr-page" aria-labelledby="page-title">
    <section class="cr-shell" aria-label="Impressum (scrollbarer Bereich)">
      <div class="cr-scroll" tabindex="0">
        <h1 id="page-title">Impressum</h1>

        <h2>Unternehmensdaten</h2>
        <p>
          <strong>Firma: </strong>Slot Bot Labs GmbH<br />
          <strong>Rechtsform: </strong>Gesellschaft mit beschränkter Haftung
          (GmbH)<br /><strong>Firmenbuchnummer: </strong>123456a<br />
          <strong>Firmenbuchgericht: </strong>Handelsgericht Wien<br />
          <strong>Sitz: </strong>Wien<br />
          <strong>Geschäftsführung: </strong>Nikolai Asche<br />
          <strong>UID-Nummer: </strong>AT12345678<br />
        </p>
        <h2>Anschrift</h2>
        <p>
          Slot Bot Labs GmbH<br />
          Mockweg 123<br />1010 Wien<br />Österreich
        </p>
        <h2>Kontakt</h2>
        <p>
          <strong>E-Mail: </strong>support@slotbotlabs.at<br />
          <strong>Kontaktformular: </strong>verfügbar im Webshop über Link "Kontakt"<br />
          <strong>Telefonnummer: </strong>+43 681 1234 567<br />
        </p>
        <h2>Aufsichtsbehörde</h2>
        <p>
          Magistrat der Stadt Wien<br />
          Friedrich-Schmidt-Platz 1<br />
          1010 Wien<br />
          Österreich<br />
        </p>
        <h2>Mitgliedschaften</h2>
        <p>
          Mitglied der Wirtschaftskammer Österreich<br />
          Mitglied der Wirtschaftskammer Wien<br />
          Sparte: Information und Consulting<br />
        </p>
        <h2>
          Zugang zu anwendbaren gewerbe- oder berufsrechtlichen Vorschriften
        </h2>
        <p>
          Hier finden sie eine Verlinkung zu den anwendbaren gewerbe- oder
          berufsrechtlichen Vorschriften: https://www.ris.bka.gv.at/
        </p>
        <h2>Kleine Offenlegungspflicht gem. § 25 Abs 5 MedienG:</h2>
        <p>
          <strong>Firma des Medieninhabers: </strong>Slot Bot Labs GmbH<br />
          <strong>Sitz des Medieninhabers: </strong><br/>Slot Bot Labs GmbH<br />
          Mockweg 123<br />1010 Wien<br />Österreich<br />
          <strong>Unternehmensgegenstand: </strong>Die Slot Bot Labs GmbH ist für
          die Entwicklung und den Betrieb von Software-as-a-Service Lösungen
          (SaaS) zuständig. Die Software wird hierbei als Browser-Extension und
          als mobile App für Smartphones und Tablets zur Verfügung gestellt. Die
          Software dient Studierenden als Unterstützung bei der automatisierten
          Anmeldung bei Lehrveranstaltungen und Prüfungen.
        </p>
      </div>
    </section>
  </article>
</BaseLayout>
