---
import BaseLayout from "../../layouts/BaseLayout.astro";
---
<BaseLayout title={`Imprint`}>
  <h1>Impressum</h1>
  <p>Platzhalter – Unternehmensdaten, Kontakt, Vertretungsbefugte, etc.</p>
</BaseLayout>
