---
import BaseLayout from "../../layouts/BaseLayout.astro";
---
<BaseLayout title={"Impressum"}>
  <h1>Impressum</h1>
  <p>Platzhalter – Unternehmensdaten, Kontakt, Vertretungsbefugte, etc.</p>
</BaseLayout>
